body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap; /*flex item 줄바꿈함*/
  max-width: 3840;
}
.square {
  width: 384px;
  height: 600px;
  background-color: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 0.2s ease;   /*천천히 효과 일어나기*/
  &:hover {
    transition-duration: 100s;
    /*트랜지션이 일어나는 지속 시간, 작을수록 빨리 일어남*/
  }
}
